.li{
    display:inline-block;
    padding: -95%;
    margin-left: 10px;
}

.nav{
   height: 100px;
   padding: 10px;
   background-color:palevioletred;
}

div{
    float: left;
    margin-left: 100px;
    padding: 10px 10px;
}

img{
    float:top;
    display:block;
    margin:auto;
    margin-left:0px;
    margin-top: 5px;
    width:80px;
    height:80px;
}

.card-img-top{
    float:top;
    width:100px;
    height:100px;
    margin:auto;
    margin-left: 0px;
    margin-top: 5px;
}

.align-self-center{
    float:top;
    width:250px;
    height:250px;
    margin:auto;
    margin-left: 100px;
    margin-top: 10px;
}